.accordion-button::after {
    display: none !important;
}

.navbar-brand img {
    height: 30px;
}

.navbar {
    background-color: #e5fae9 !important;
}

.footer {
    background-color: #6c757e !important;
    font-size: 12px !important;
}

.footer a {
    color: #fff !important;
    font-weight: 600 !important;
}

.footer p {
    color: #000 !important;
    font-weight: 400 !important;
}

.footer .btn {
    height: fit-content !important;
    background-color: #26a848 !important;
    border-color: #26a848!important;
    font-weight: 400 !important;
}

.categoria {
    width: 200px;
}

.categoria img {
    border-radius: 50%;
}

.categoria .btn {
    border-radius: 0 !important;
    background-color: #26a848;
    border-color: #26a848;
    font-weight: bold;
    font-size: 1.1rem;
}

.bg-verde {
   background-color: rgb(39, 168, 68);
}

.bg-verde-claro {
    background-color: rgb(229, 250, 233);
}

.titulo {
    font-size: 60px;
}

.subtitulo {
    font-size: 45px;
}

.table-verde {
    --bs-table-color: #000;
    --bs-table-bg:  rgb(229, 250, 233);
    --bs-table-border-color: rgb(226, 237, 220)
    --bs-table-striped-bg:  rgb(229, 250, 233);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(226, 237, 220)
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgb(226, 237, 220)
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color)
}

.modal-dialog-custom {
    max-width: 40%;
}